<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <br>
    <br>
    <% for (quo of quotes) { %>
        <h3 style="color: gray">"<%= quo.quote %>"</h3>
        <h3 style="color: blue;">- <%= quo.name %> <%= quo.createdAt %></h3>
        <br>
        <br>
    <% } %>

    <a href="/"><button type="button">Create a new quote</button></a>
</body>
</html>